<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yunyisite.dao.BusinesssystemMapper">

	<resultMap id="BaseResultMap" type="org.yunyisite.domain.Businesssystem">
		<id column="Id" jdbcType="NVARCHAR" property="id" />
		<result column="BusinessSystemNo" jdbcType="NVARCHAR" property="businesssystemno" />
		<result column="BusinessSystemMstSynNo" jdbcType="NVARCHAR"
			property="businesssystemmstsynno" />
		<result column="BusinessSystemName" jdbcType="NVARCHAR"
			property="businesssystemname" />
		<result column="BusinessSystemFullName" jdbcType="NVARCHAR"
			property="businesssystemfullname" />
		<result column="BeforeBusinessId" jdbcType="NVARCHAR" property="beforebusinessid" />
		<result column="BeforeBusinessName" jdbcType="NVARCHAR"
			property="beforebusinessname" />
		<result column="Status" jdbcType="NVARCHAR" property="status" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="ProductId" jdbcType="NVARCHAR" property="productid" />
		<result column="ServiceUserNo" jdbcType="NVARCHAR" property="serviceuserno" />
		<result column="ServiceUserName" jdbcType="NVARCHAR" property="serviceusername" />
		<result column="Definition1" jdbcType="NVARCHAR" property="definition1" />
		<result column="Definition2" jdbcType="NVARCHAR" property="definition2" />
		<result column="IsDelete" jdbcType="BIT" property="isdelete" />
		<result column="MaintainCommissionerNo" jdbcType="NVARCHAR"
			property="maintaincommissionerno" />
		<result column="MaintainCommissionerName" jdbcType="NVARCHAR"
			property="maintaincommissionername" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		Id, BusinessSystemNo, BusinessSystemMstSynNo, BusinessSystemName,
		BusinessSystemFullName,
		BeforeBusinessId, BeforeBusinessName, Status, UpdateTime, ProductId, ServiceUserNo,
		ServiceUserName, Definition1, Definition2, IsDelete,
		MaintainCommissionerNo, MaintainCommissionerName
	</sql>

	<select id="selectByExample" parameterType="org.yunyisite.domain.BusinesssystemExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BusinessSystem
		where Id = #{id,jdbcType=NVARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from BusinessSystem
		where Id = #{id,jdbcType=NVARCHAR}
	</delete>

	<delete id="deleteByExample" parameterType="org.yunyisite.domain.BusinesssystemExample">
		delete from BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<insert id="insert" parameterType="org.yunyisite.domain.Businesssystem">
		insert into BusinessSystem (Id, BusinessSystemNo, BusinessSystemMstSynNo,
		BusinessSystemName, BusinessSystemFullName,
		BeforeBusinessId, BeforeBusinessName,
		Status, UpdateTime, ProductId,
		ServiceUserNo, ServiceUserName, Definition1,
		Definition2, IsDelete, MaintainCommissionerNo,
		MaintainCommissionerName)
		values (#{id,jdbcType=NVARCHAR}, #{businesssystemno,jdbcType=NVARCHAR},
		#{businesssystemmstsynno,jdbcType=NVARCHAR},
		#{businesssystemname,jdbcType=NVARCHAR},
		#{businesssystemfullname,jdbcType=NVARCHAR},
		#{beforebusinessid,jdbcType=NVARCHAR},
		#{beforebusinessname,jdbcType=NVARCHAR},
		#{status,jdbcType=NVARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{productid,jdbcType=NVARCHAR},
		#{serviceuserno,jdbcType=NVARCHAR},
		#{serviceusername,jdbcType=NVARCHAR},
		#{definition1,jdbcType=NVARCHAR},
		#{definition2,jdbcType=NVARCHAR}, #{isdelete,jdbcType=BIT},
		#{maintaincommissionerno,jdbcType=NVARCHAR},
		#{maintaincommissionername,jdbcType=NVARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="org.yunyisite.domain.Businesssystem">
		insert into BusinessSystem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="businesssystemno != null">
				BusinessSystemNo,
			</if>
			<if test="businesssystemmstsynno != null">
				BusinessSystemMstSynNo,
			</if>
			<if test="businesssystemname != null">
				BusinessSystemName,
			</if>
			<if test="businesssystemfullname != null">
				BusinessSystemFullName,
			</if>
			<if test="beforebusinessid != null">
				BeforeBusinessId,
			</if>
			<if test="beforebusinessname != null">
				BeforeBusinessName,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="updatetime != null">
				UpdateTime,
			</if>
			<if test="productid != null">
				ProductId,
			</if>
			<if test="serviceuserno != null">
				ServiceUserNo,
			</if>
			<if test="serviceusername != null">
				ServiceUserName,
			</if>
			<if test="definition1 != null">
				Definition1,
			</if>
			<if test="definition2 != null">
				Definition2,
			</if>
			<if test="isdelete != null">
				IsDelete,
			</if>
			<if test="maintaincommissionerno != null">
				MaintainCommissionerNo,
			</if>
			<if test="maintaincommissionername != null">
				MaintainCommissionerName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemno != null">
				#{businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemmstsynno != null">
				#{businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemname != null">
				#{businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemfullname != null">
				#{businesssystemfullname,jdbcType=NVARCHAR},
			</if>
			<if test="beforebusinessid != null">
				#{beforebusinessid,jdbcType=NVARCHAR},
			</if>
			<if test="beforebusinessname != null">
				#{beforebusinessname,jdbcType=NVARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=NVARCHAR},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="productid != null">
				#{productid,jdbcType=NVARCHAR},
			</if>
			<if test="serviceuserno != null">
				#{serviceuserno,jdbcType=NVARCHAR},
			</if>
			<if test="serviceusername != null">
				#{serviceusername,jdbcType=NVARCHAR},
			</if>
			<if test="definition1 != null">
				#{definition1,jdbcType=NVARCHAR},
			</if>
			<if test="definition2 != null">
				#{definition2,jdbcType=NVARCHAR},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=BIT},
			</if>
			<if test="maintaincommissionerno != null">
				#{maintaincommissionerno,jdbcType=NVARCHAR},
			</if>
			<if test="maintaincommissionername != null">
				#{maintaincommissionername,jdbcType=NVARCHAR},
			</if>
		</trim>
	</insert>

	<select id="countByExample" parameterType="org.yunyisite.domain.BusinesssystemExample"
		resultType="java.lang.Integer">
		select count(*) from BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<update id="updateByExampleSelective" parameterType="map">
		update BusinessSystem
		<set>
			<if test="record.id != null">
				Id = #{record.id,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemno != null">
				BusinessSystemNo = #{record.businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemmstsynno != null">
				BusinessSystemMstSynNo = #{record.businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemname != null">
				BusinessSystemName = #{record.businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemfullname != null">
				BusinessSystemFullName = #{record.businesssystemfullname,jdbcType=NVARCHAR},
			</if>
			<if test="record.beforebusinessid != null">
				BeforeBusinessId = #{record.beforebusinessid,jdbcType=NVARCHAR},
			</if>
			<if test="record.beforebusinessname != null">
				BeforeBusinessName = #{record.beforebusinessname,jdbcType=NVARCHAR},
			</if>
			<if test="record.status != null">
				Status = #{record.status,jdbcType=NVARCHAR},
			</if>
			<if test="record.updatetime != null">
				UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.productid != null">
				ProductId = #{record.productid,jdbcType=NVARCHAR},
			</if>
			<if test="record.serviceuserno != null">
				ServiceUserNo = #{record.serviceuserno,jdbcType=NVARCHAR},
			</if>
			<if test="record.serviceusername != null">
				ServiceUserName = #{record.serviceusername,jdbcType=NVARCHAR},
			</if>
			<if test="record.definition1 != null">
				Definition1 = #{record.definition1,jdbcType=NVARCHAR},
			</if>
			<if test="record.definition2 != null">
				Definition2 = #{record.definition2,jdbcType=NVARCHAR},
			</if>
			<if test="record.isdelete != null">
				IsDelete = #{record.isdelete,jdbcType=BIT},
			</if>
			<if test="record.maintaincommissionerno != null">
				MaintainCommissionerNo = #{record.maintaincommissionerno,jdbcType=NVARCHAR},
			</if>
			<if test="record.maintaincommissionername != null">
				MaintainCommissionerName = #{record.maintaincommissionername,jdbcType=NVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map">
		update BusinessSystem
		set Id = #{record.id,jdbcType=NVARCHAR},
		BusinessSystemNo = #{record.businesssystemno,jdbcType=NVARCHAR},
		BusinessSystemMstSynNo =
		#{record.businesssystemmstsynno,jdbcType=NVARCHAR},
		BusinessSystemName = #{record.businesssystemname,jdbcType=NVARCHAR},
		BusinessSystemFullName =
		#{record.businesssystemfullname,jdbcType=NVARCHAR},
		BeforeBusinessId = #{record.beforebusinessid,jdbcType=NVARCHAR},
		BeforeBusinessName = #{record.beforebusinessname,jdbcType=NVARCHAR},
		Status = #{record.status,jdbcType=NVARCHAR},
		UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
		ProductId = #{record.productid,jdbcType=NVARCHAR},
		ServiceUserNo = #{record.serviceuserno,jdbcType=NVARCHAR},
		ServiceUserName = #{record.serviceusername,jdbcType=NVARCHAR},
		Definition1 = #{record.definition1,jdbcType=NVARCHAR},
		Definition2 = #{record.definition2,jdbcType=NVARCHAR},
		IsDelete = #{record.isdelete,jdbcType=BIT},
		MaintainCommissionerNo = #{record.maintaincommissionerno,jdbcType=NVARCHAR},
		MaintainCommissionerName =
		#{record.maintaincommissionername,jdbcType=NVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="org.yunyisite.domain.Businesssystem">
		update BusinessSystem
		<set>
			<if test="businesssystemno != null">
				BusinessSystemNo = #{businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemmstsynno != null">
				BusinessSystemMstSynNo = #{businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemname != null">
				BusinessSystemName = #{businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemfullname != null">
				BusinessSystemFullName = #{businesssystemfullname,jdbcType=NVARCHAR},
			</if>
			<if test="beforebusinessid != null">
				BeforeBusinessId = #{beforebusinessid,jdbcType=NVARCHAR},
			</if>
			<if test="beforebusinessname != null">
				BeforeBusinessName = #{beforebusinessname,jdbcType=NVARCHAR},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=NVARCHAR},
			</if>
			<if test="updatetime != null">
				UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="productid != null">
				ProductId = #{productid,jdbcType=NVARCHAR},
			</if>
			<if test="serviceuserno != null">
				ServiceUserNo = #{serviceuserno,jdbcType=NVARCHAR},
			</if>
			<if test="serviceusername != null">
				ServiceUserName = #{serviceusername,jdbcType=NVARCHAR},
			</if>
			<if test="definition1 != null">
				Definition1 = #{definition1,jdbcType=NVARCHAR},
			</if>
			<if test="definition2 != null">
				Definition2 = #{definition2,jdbcType=NVARCHAR},
			</if>
			<if test="isdelete != null">
				IsDelete = #{isdelete,jdbcType=BIT},
			</if>
			<if test="maintaincommissionerno != null">
				MaintainCommissionerNo = #{maintaincommissionerno,jdbcType=NVARCHAR},
			</if>
			<if test="maintaincommissionername != null">
				MaintainCommissionerName = #{maintaincommissionername,jdbcType=NVARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=NVARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="org.yunyisite.domain.Businesssystem">
		update BusinessSystem
		set BusinessSystemNo = #{businesssystemno,jdbcType=NVARCHAR},
		BusinessSystemMstSynNo = #{businesssystemmstsynno,jdbcType=NVARCHAR},
		BusinessSystemName = #{businesssystemname,jdbcType=NVARCHAR},
		BusinessSystemFullName = #{businesssystemfullname,jdbcType=NVARCHAR},
		BeforeBusinessId = #{beforebusinessid,jdbcType=NVARCHAR},
		BeforeBusinessName = #{beforebusinessname,jdbcType=NVARCHAR},
		Status = #{status,jdbcType=NVARCHAR},
		UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
		ProductId = #{productid,jdbcType=NVARCHAR},
		ServiceUserNo = #{serviceuserno,jdbcType=NVARCHAR},
		ServiceUserName = #{serviceusername,jdbcType=NVARCHAR},
		Definition1 = #{definition1,jdbcType=NVARCHAR},
		Definition2 = #{definition2,jdbcType=NVARCHAR},
		IsDelete = #{isdelete,jdbcType=BIT},
		MaintainCommissionerNo = #{maintaincommissionerno,jdbcType=NVARCHAR},
		MaintainCommissionerName =
		#{maintaincommissionername,jdbcType=NVARCHAR}
		where Id = #{id,jdbcType=NVARCHAR}
	</update>

</mapper>