<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yunyisite.dao.ReNoticeBusinesssystemMapper">

	<resultMap id="BaseResultMap" type="org.yunyisite.domain.ReNoticeBusinesssystem">
		<id column="Id" jdbcType="CHAR" property="id" />
		<result column="NoticeId" jdbcType="CHAR" property="noticeid" />
		<result column="BusinessSystemId" jdbcType="NVARCHAR" property="businesssystemid" />
		<result column="BusinessSystemNo" jdbcType="NVARCHAR" property="businesssystemno" />
		<result column="BusinessSystemMstSynNo" jdbcType="NVARCHAR"
			property="businesssystemmstsynno" />
		<result column="BusinessSystemName" jdbcType="NVARCHAR"
			property="businesssystemname" />
		<result column="Definition1" jdbcType="NVARCHAR" property="definition1" />
		<result column="Definition2" jdbcType="NVARCHAR" property="definition2" />
		<result column="IsDelete" jdbcType="BIT" property="isdelete" />
	</resultMap>

	<resultMap id="ResultWithBizSystem" extends="BaseResultMap"
		type="org.yunyisite.dto.ReNoticeBusinesssystemDTO">
		<association property="bizSystem" column="BusinessSystemId"
			select="org.yunyisite.dao.BusinesssystemMapper.selectByPrimaryKey"></association>
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		Id, NoticeId, BusinessSystemId, BusinessSystemNo,
		BusinessSystemMstSynNo,
		BusinessSystemName,
		Definition1, Definition2,
		IsDelete
	</sql>

	<select id="selectByExample" parameterType="org.yunyisite.domain.ReNoticeBusinesssystemExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from Re_Notice_BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Re_Notice_BusinessSystem
		where Id = #{id,jdbcType=CHAR}
	</select>

	<!-- 根据公告Id查询(联查业务系统) -->
	<select id="selectByNoticeId" parameterType="java.lang.String"
		resultMap="ResultWithBizSystem">
		select
		<include refid="Base_Column_List" />
		from Re_Notice_BusinessSystem
		where NoticeId =
		#{noticeId,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		Re_Notice_BusinessSystem
		where Id = #{id,jdbcType=CHAR}
	</delete>

	<delete id="deleteByExample" parameterType="org.yunyisite.domain.ReNoticeBusinesssystemExample">
		delete from Re_Notice_BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<insert id="insert" parameterType="org.yunyisite.domain.ReNoticeBusinesssystem">
		insert into
		Re_Notice_BusinessSystem (Id, NoticeId, BusinessSystemId,
		BusinessSystemNo, BusinessSystemMstSynNo,
		BusinessSystemName,
		Definition1, Definition2,
		IsDelete)
		values (#{id,jdbcType=CHAR},
		#{noticeid,jdbcType=CHAR},
		#{businesssystemid,jdbcType=NVARCHAR},
		#{businesssystemno,jdbcType=NVARCHAR},
		#{businesssystemmstsynno,jdbcType=NVARCHAR},
		#{businesssystemname,jdbcType=NVARCHAR},
		#{definition1,jdbcType=NVARCHAR}, #{definition2,jdbcType=NVARCHAR},
		#{isdelete,jdbcType=BIT})
	</insert>

	<insert id="insertSelective" parameterType="org.yunyisite.domain.ReNoticeBusinesssystem">
		insert into Re_Notice_BusinessSystem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="noticeid != null">
				NoticeId,
			</if>
			<if test="businesssystemid != null">
				BusinessSystemId,
			</if>
			<if test="businesssystemno != null">
				BusinessSystemNo,
			</if>
			<if test="businesssystemmstsynno != null">
				BusinessSystemMstSynNo,
			</if>
			<if test="businesssystemname != null">
				BusinessSystemName,
			</if>
			<if test="definition1 != null">
				Definition1,
			</if>
			<if test="definition2 != null">
				Definition2,
			</if>
			<if test="isdelete != null">
				IsDelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="noticeid != null">
				#{noticeid,jdbcType=CHAR},
			</if>
			<if test="businesssystemid != null">
				#{businesssystemid,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemno != null">
				#{businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemmstsynno != null">
				#{businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemname != null">
				#{businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="definition1 != null">
				#{definition1,jdbcType=NVARCHAR},
			</if>
			<if test="definition2 != null">
				#{definition2,jdbcType=NVARCHAR},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=BIT},
			</if>
		</trim>
	</insert>

	<select id="countByExample" parameterType="org.yunyisite.domain.ReNoticeBusinesssystemExample"
		resultType="java.lang.Integer">
		select count(*) from Re_Notice_BusinessSystem
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<update id="updateByExampleSelective" parameterType="map">
		update Re_Notice_BusinessSystem
		<set>
			<if test="record.id != null">
				Id = #{record.id,jdbcType=CHAR},
			</if>
			<if test="record.noticeid != null">
				NoticeId = #{record.noticeid,jdbcType=CHAR},
			</if>
			<if test="record.businesssystemid != null">
				BusinessSystemId =
				#{record.businesssystemid,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemno != null">
				BusinessSystemNo =
				#{record.businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemmstsynno != null">
				BusinessSystemMstSynNo =
				#{record.businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="record.businesssystemname != null">
				BusinessSystemName =
				#{record.businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="record.definition1 != null">
				Definition1 = #{record.definition1,jdbcType=NVARCHAR},
			</if>
			<if test="record.definition2 != null">
				Definition2 = #{record.definition2,jdbcType=NVARCHAR},
			</if>
			<if test="record.isdelete != null">
				IsDelete = #{record.isdelete,jdbcType=BIT},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map">
		update Re_Notice_BusinessSystem
		set Id = #{record.id,jdbcType=CHAR},
		NoticeId = #{record.noticeid,jdbcType=CHAR},
		BusinessSystemId =
		#{record.businesssystemid,jdbcType=NVARCHAR},
		BusinessSystemNo =
		#{record.businesssystemno,jdbcType=NVARCHAR},
		BusinessSystemMstSynNo =
		#{record.businesssystemmstsynno,jdbcType=NVARCHAR},
		BusinessSystemName
		= #{record.businesssystemname,jdbcType=NVARCHAR},
		Definition1 =
		#{record.definition1,jdbcType=NVARCHAR},
		Definition2 =
		#{record.definition2,jdbcType=NVARCHAR},
		IsDelete =
		#{record.isdelete,jdbcType=BIT}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="org.yunyisite.domain.ReNoticeBusinesssystem">
		update Re_Notice_BusinessSystem
		<set>
			<if test="noticeid != null">
				NoticeId = #{noticeid,jdbcType=CHAR},
			</if>
			<if test="businesssystemid != null">
				BusinessSystemId = #{businesssystemid,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemno != null">
				BusinessSystemNo = #{businesssystemno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemmstsynno != null">
				BusinessSystemMstSynNo =
				#{businesssystemmstsynno,jdbcType=NVARCHAR},
			</if>
			<if test="businesssystemname != null">
				BusinessSystemName =
				#{businesssystemname,jdbcType=NVARCHAR},
			</if>
			<if test="definition1 != null">
				Definition1 = #{definition1,jdbcType=NVARCHAR},
			</if>
			<if test="definition2 != null">
				Definition2 = #{definition2,jdbcType=NVARCHAR},
			</if>
			<if test="isdelete != null">
				IsDelete = #{isdelete,jdbcType=BIT},
			</if>
		</set>
		where Id = #{id,jdbcType=CHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="org.yunyisite.domain.ReNoticeBusinesssystem">
		update
		Re_Notice_BusinessSystem
		set NoticeId = #{noticeid,jdbcType=CHAR},
		BusinessSystemId = #{businesssystemid,jdbcType=NVARCHAR},
		BusinessSystemNo = #{businesssystemno,jdbcType=NVARCHAR},
		BusinessSystemMstSynNo = #{businesssystemmstsynno,jdbcType=NVARCHAR},
		BusinessSystemName = #{businesssystemname,jdbcType=NVARCHAR},
		Definition1 = #{definition1,jdbcType=NVARCHAR},
		Definition2 =
		#{definition2,jdbcType=NVARCHAR},
		IsDelete = #{isdelete,jdbcType=BIT}
		where Id = #{id,jdbcType=CHAR}
	</update>
</mapper>